<% form_tag(url(:sessions, :create), class: '') do %>
	<div class="control-group">
		<label class="control-label" for="email">帐号</label>
		<div class="controls"><%= text_field_tag :email, value: params[:email], placeholder: "必填项" %></div>
	</div>
	<div class="control-group">
		<label class="control-label" for="password">密码</label>
		<div class="controls"><%= password_field_tag :password, value: params[:password], placeholder: "必填项" %></div>
	</div>
	<div class="control-group">
    <div class="controls">
      <label class="checkbox">记住我 <input type="checkbox"></label>
    </div>
  </div>
	<div class="form-actions"><%= submit_tag "登录", :class => 'btn btn-primary' %></div>
<% end %>