<% content_for :lead do %>聊天记录<% end %>
<div class='span12' id='chatpeers'>
  <% unless @chatpeers.empty? %>
    <%= partial "chatpeers/msgs", locals: { chatpeers: @chatpeers } %>
  <% else %>
    新客人吗？要小心伺候着~~
  <% end %>
</div>
