<div class="control-group">
  <%= content_tag(:label, label, {class: 'control-label', for: 'calendar'}) if defined?(label) %>
  <div class="controls">
    <div class='calendar'></div>
    <div class="input-append">
      <input style='width: 145px;margin-left: 3px;' name="start_at" value='<%= @start_at %>' readonly='readonly' required='required' placeholder='开始时间' />
      <span style='margin: 0 1px;'>～</span>
      <input style='width: 145px;margin-left: 4px;' name="end_at" value='<%= @end_at %>' readonly='readonly' required='required' placeholder='结束时间' />
    </div>
  </div>
</div>