<div class="span4 columns">
<% form_tag url(:filter_list, :show, user_id: user_id ), method:'get', class:'form-inline' do %>
    <%= partial('shared/form_calendar', locals: {label: '销售区间：'}) %>
    <div class="control-group">
        <label class="control-label" for="filter_list">自定过滤列表：（可选）</label>
        <div class="controls">
            <%= select_tag(:filter_list, collection: filters, fields: [:name, :_id], placeholder: '空值，即所有过滤器', multiple: true, class: 'chzn-select') %>
        </div>
    </div>
    <div class="form-actions">
        <%= submit_tag '筛选', class:'btn btn-primary' %>
    </div>
<% end %>
</div>