<% content_for :lead do %>交易过滤器<% end %>
<div class="span8 columns" style="overflow: auto;">
<table id="filter_list" class="table table-bordered">
  <thead>
	<tr>
	    <th>名称<%=link_to '<i class="icon-filter"></i>', url(:filter_list, :new, user_id: user_id), rel: 'tooltip', title: '新增过滤器' %></th>
	    <th colspan="2">价格区间</th>
      <th colspan="2">折扣区间</th>
	    <th>商家编码</th>
  	</tr>
  </thead>
  <% unless @filter_list.empty? %>
    <% @filter_list.each do |id, filter| %>
      <%= partial("filter_list/filter", locals: { filter: filter}) if filter.parent_ids.count == 0 %>
    <% end %>
  <% end %>
</table>
</div>
<% content_for :sidebar, partial("filter_list/sidebar", locals: { filters: @filter_list.values})  unless @filter_list.empty?  %>