<div class="span4 columns">
  <% form_tag url(:subusers, :index, user_id: user_id ), method: 'get', class: '' do %>
<div class="control-group">
  <div class="controls">
    <div class='calendar'></div>
    <div class="input-append">
      <input style='width: 160px;margin-left: 3px;' name="start_at" value='<%= @start_at %>' readonly='true' placeholder='开始时间' />
      <span style='margin: 0 1px;'>～</span>
      <input style='width: 160px;margin-left: 4px;' name="end_at" value='<%= @end_at %>' readonly='true' placeholder='结束时间' />
    </div>
  </div>
</div>
<div class="form-actions"><%= submit_tag '查詢', class:'btn btn-primary' %></div>
<% end %>
</div>