<div class="span4 columns">
<% form_tag url(:refunds, :index, user_id: user_id ), method:'get', class:'form-inline' do %>
    <div class="control-group">
        <div class="btn-group" >
            <input type="radio" name="field" value="modified" id="modified" />
            <label class="btn <%= 'active' if @field == 'modified' %>" for="modified">更新时间</label>
            <input type="radio" name="field" value="created" id="created" />
            <label class="btn <%= 'active' if @field == 'created' %>" for="created">创建时间</label>
        </div>
    </div>
    <%= partial('shared/form_calendar') %>
    <div class="control-group">
        <label class="control-label" for="level">格式：</label>
        <div class="btn-group" >
            <input type="radio" name="format" value="html" id="html" />
            <label class="btn active" for="html">页面</label>
            <input type="radio" name="format" value="csv" id="csv" />
            <label class="btn" for="csv">导出CSV</label>
        </div>
    </div>
    <div class="form-actions">
        <%= submit_tag '筛选', class:'btn btn-primary' %>
    </div>
<% end %>
</div>